.container{
	margin-bottom: 10rem;
}

.col{
	text-align: start;
	margin: auto;
	margin-top: 1rem;
}

.colimg{
	margin: auto;
	margin-top: 1rem;	
}

.workplace{
	height: 300px;
	border-radius: 25px;
	box-shadow: 1px 1px 9px 1px;
}

.header{
	text-align: start;
	font-size: 1.65rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.about{
	color: rgb(0, 102, 255);
	text-align: start;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.about-info{
	font-weight: 400;
	color: gray;
	font-size: 1.1rem;
}