.banner-container{
	margin-top: 15rem;
	margin-bottom: 15rem;
}

.photo {
  margin: var(--r, 20px);
  height: 350px;
  border-bottom: none;
  border-radius: var(--r, 250px) var(--r, 140px) var(--r, 200px) var(--r, 150px);
  border: 3px solid black;
}

.col{
	margin: auto;
}

.header{
	text-align: start;
	font-size: 3.5rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 600;
}

.description{
	text-align: start;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	color: gray;
	font-size: 1.2rem;
}

.links{
	display: flex;
	align-items: start;
	text-align: start;
}

.link{
	color: black;
	height: 2rem;
	margin-right: 0.8rem;
}

.container{
	margin: 0 3.7rem;
}

.stack{
	margin: auto;
	margin-top: 2rem;
	display: flex;
	text-align: start;
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
}

.icons{
	margin-left: 3rem;
}